$main1:#0A134D;
$main2:#fff;
$main3:#E77710;
$main4:#F1D00A;
$main5:#607EAA;
$main6:#13334E;
$main7:#f5f4f2;
@mixin btn_2{
    font-size: 18px;
    color: $main3;
    border-bottom: $main3 1px solid;
    transition: .5s;
    font-family: 'David Libre', serif;
    &:hover{
        transform: scale(0.9);
    }
}
@mixin btn1_hover {
    background-color: $main3;
    color: $main2;
    transform: scale(0.9);
}
@mixin flex1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
// banner 動畫
.banner_slidein{
    transform: translateX(100%) scale(0.8);
    transition: transform 2.5s, opacity 5s;
    opacity: 0;
}
.banner_slidein.active{
    transform: translateX(0%) scale(1);
    opacity: 1;
}
.banner_fadein{
    transform: translateX(-100%) scale(0);
    transition: transform 2.5s, opacity 5s;     
    opacity: 0;
}
.banner_fadein.active{
    transform: translateX(0%) scale(1);
    transition: 2.5s;
    opacity: 1;
}
// -----banner 手機-----
.index_banner{
    background-color: $main1;
    overflow: hidden;
    opacity: 0;
    transition: 2.5s;
    .wrap{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 30% 40% 30%;
        width: 100%;
        min-height: calc(100vh - 65px);
        max-height: auto;
        
        
        .item:nth-child(1){
            grid-area: 1/1/2/3;
            position: relative;
            padding: 20px;
            h1{
                font-size: 70px;
                font-weight: 600;
                font-family: 'David Libre', serif;
                color: $main2;
                text-align: center;
                line-height: 130%;
            }
        }
        .item:nth-child(2){
            grid-area: 2/1/3/2;
            position: relative;
            padding: 40px 20px;
            p{
                font-size: 16px;
                font-family: 'David Libre', serif;
                color: $main2;
                opacity: .5;
                width: 100%;
                line-height: 150%;
            }
        }
        .item:nth-child(3){
            grid-area: 3/1/4/2;
            position: relative;
            padding: 20px;
            .btn{
                font-size: 18px;
                border-radius: 30px;
                border: 1px solid $main4;
                padding: 10px 25px;
                position: absolute;
                color: $main2;
                text-decoration: none;
                display: inline-block;
                font-family: 'David Libre', serif;
                transition: .5s;
                &:hover{
                    @include btn1_hover();
                    border-color: $main3;
                }
            }
        }
        .item:nth-child(4){
            grid-area: 2/2/4/3;
            position: relative;
            img{
                width: 100%;
                // height: 80%;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                // left: 0%;
                right: 0;
            }
        }
    }
}

// -----ipad 直index banner-----
@media screen and (min-width:768px) {
    .index_banner{
        .wrap{
            .item:nth-child(1){
                padding: 0;
                h1{
                    font-size: 80px;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    // left: 50%;
                    width: 100%;
                }
            }
            .item:nth-child(2){
                padding: 0 50px;
                p{
                    font-size: 20px;
                    width: 80%;
                    line-height: 150%;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .item:nth-child(3){
                padding: 0 50px;
            }
            .item:nth-child(4){
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}
// -----ipad橫 index banner-----
@media screen and (min-width:1024px) {
    .index_banner{
        // max-width: 1200px;
        // margin: 0 auto;
        // border: 1px solid red;
        .wrap{
            grid-template-columns: 70% 30%;
            grid-template-rows: auto auto 
            auto;
            // max-width: 1200px;
            // border: 1px solid red;
            margin: 0 auto;
            .item:nth-child(1){
                grid-area: 1/1/2/2;
                padding: 40px 30px 30px 45px;
                h1{
                    text-align: left;
                }
            }
            .item:nth-child(2){
                grid-area: 2/1/3/2;
                padding: 30px;
                padding-left: 45px;
                p{
                    width: 50%;
                    font-size: 16px;
                }
            }
            .item:nth-child(3){
                grid-area: 3/1/4/2;
                padding: 30px;
                padding-left: 45px;
            }
            .item:nth-child(4){
                grid-area: 1/2/4/3;
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}
// -----小手機 index banner-----
@media screen and (max-width:400px) {
    .index_banner{
        .wrap{
            .item:nth-child(1){
                h1{
                    font-size: 45px;
                }
            }
            .item:nth-child(2){
                padding: 10px 15px;
                p{
                    font-size: 14px;
                    width: 100%;
                }
            }
            .item:nth-child(3){
                padding: 10px 15px;
            }
        }
    }
}
@media screen and (min-width:1920px) {
    .index_banner{
        .wrap{
            max-width: 1200px;
        }
    }
}
// -----Slogan 手機------

.slogan{
    margin: 50px 0;
    overflow: hidden;
    .txt_box{
        p{
            font-size: 40px;
            width: fit-content;
            margin: 0 auto;
            color: $main5;
            font-weight: 600;
            font-family: 'David Libre', serif;
            padding: 30px;
            line-height: 120%;
            // border: 1px solid red;
            // text-align: left;
        }
    }
    .img_box{
        width: 100%;
        height: 300px;
        padding: 0 10px;
        display: block;
        margin-top: 100px;
        margin-bottom: 80px;
        .carousel_btn{
            display: none;
        }
        .carousel_box{
            position: relative;
            width: 100%;
            height: 500px;
        }
        .item{
            width: 200px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            transition: .4s ease;
            cursor: pointer;
            img{
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
    }
}

#carousel_btn1:checked ~ .carousel_box .item3,
#carousel_btn2:checked ~ .carousel_box .item1,
#carousel_btn3:checked ~ .carousel_box .item2
{
    transform: translateX(-45%) translateY(-32%) scale(.8);
    z-index: 0;
    transition: .8s;
}

#carousel_btn1:checked ~ .carousel_box .item2,
#carousel_btn2:checked ~ .carousel_box .item3,
#carousel_btn3:checked ~ .carousel_box .item1
{
    transform: translateX(45%) translateY(-20%) scale(.8);
    z-index: 0;
    transition: .8s;
}
#carousel_btn1:checked ~ .carousel_box .item1,
#carousel_btn2:checked ~ .carousel_box .item2,
#carousel_btn3:checked ~ .carousel_box .item3
{
    transform: translateX(0%);
    z-index: 1;
    transition: .8s;
}
// -----slogan 280小手機-----
@media screen and (max-width:350px) {
    .slogan{
        .txt_box{
            p{
                padding: 0 5px;
            }
        }
        .img_box{
            .item{
                width: 150px;
                border: 1px rebeccapurple solid;
            }
        }
    }
}
// -----slogan ipad 直向-----
@media screen and (min-width:768px) {
    .slogan{
        display: flex;
        flex-wrap: wrap;
        .txt_box{
            width: 50%;
            order: 2;
            p{
                padding: 80px 0;
                margin: 0;
                font-size: 50px;
            }
        }
        .img_box{
            width: 50%;
            order: 1;
        }
    }
}
// ---slogan 平板橫------
@media screen and (min-width:1024px) {
    .slogan{ 
        .txt_box{
            width: 45%;
            p{
                padding: 80px;
            }
        }
        .img_box{
            width: 55%;
            padding-left: 150px;
            .item{
                width: 250px;
            }
        }   
    }
#carousel_btn1:checked ~ .carousel_box .item3,
#carousel_btn2:checked ~ .carousel_box .item1,
#carousel_btn3:checked ~ .carousel_box .item2
{
    transform: translateX(-80%) translateY(-32%) scale(.8);
}

#carousel_btn1:checked ~ .carousel_box .item2,
#carousel_btn2:checked ~ .carousel_box .item3,
#carousel_btn3:checked ~ .carousel_box .item1
{
    transform: translateX(80%) translateY(-20%) scale(.8);
}
}

// ----筆電 slogan-----
@media screen and (min-width:1200px) {
    .slogan{
        max-width: 1200px;
        margin: 0 auto;
        .txt_box{
            p{
                padding: 100px 0 0 80px;
                margin: 0;
                font-size: 50px;
            }
        }
        .img_box{
            padding-left: 102px;
            .item{
                width: 256px;
            }
        }
        
    }
#carousel_btn1:checked ~ .carousel_box .item3,
#carousel_btn2:checked ~ .carousel_box .item1,
#carousel_btn3:checked ~ .carousel_box .item2
{
    transform: translateX(-70%) translateY(-32%) scale(.8);

}

#carousel_btn1:checked ~ .carousel_box .item2,
#carousel_btn2:checked ~ .carousel_box .item3,
#carousel_btn3:checked ~ .carousel_box .item1
{
    transform: translateX(77%) translateY(-20%) scale(.8);
}
}

// ----滑入動畫 slogan-----
.slide_in{
    opacity: 0;
    transition: 2.5s;
}

.ltr{
    transform: translateX(-30%) scale(0.8);
}



.slide_in.active{
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.fadein{
    opacity: 0;
    transform: scale(0.8);
    transition: 2.5s;
}

.fadein.active{
    opacity: 1;
    transform: scale(1);
}
// -----new arrivals-----
.new_arrivals{
    min-width: 100%;
    position: relative;
    margin-bottom: 100px;
    .title_box{
        opacity: 0;
        transform: scale(0.8);
        transition: 1s;
        p{
            font-size: 14px;
            text-align: center;
            // border: 1px solid red;
            padding: 0 5px;
            color: #33333350;
            font-family: 'David Libre', serif;
        }
    }
    .title_box.active{
        opacity: 1;
        transform: scale(1);
        transition: 1s;
    }
    
    h2{
        color: $main5;
        text-align: center;
        display: block;
        margin-top: 50px;
        font-size: 50px;
        font-weight: 600;
        font-family: 'David Libre', serif;
        margin-bottom: 10px;
    }
    .btn_box{
        text-align: center;
        // width: 100%;
    }
    .btn_2{
        @include btn_2();
        display: inline-block;
    }
}
// @keyframes scroll{
//     from{transform: translateX(100%)}
//     to{transform: translateX(-100%)}
// }
  
// @keyframes scroll2{
//     from{transform: translateX(0%)}
//     to{transform: translateX(-200%)}
// }
@keyframes scrolling { //n
    0% { transform: translateX(0); }
    100% { transform: translatex(-144%); }
  }
  @-webkit-keyframes scrolling { //n
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    100% { -webkit-transform: translatex(-1440px); transform: translatex(-1440px); }
  } @keyframes scrolling { //n
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    100% { -webkit-transform: translatex(-1440px); transform: translatex(-1440px); }
  }
.sliders{
    display: flex;
    width: 100%;
    overflow: hidden;
    // border: 1px red solid;
    padding: 50px 0;
    .wrapper{
        display: flex;
        animation: scrolling 20s linear infinite;//new
        // border: 1px solid red;
        
        // &:nth-child(1){
        //     animation: scroll 40s linear infinite;
        //     animation-delay: -20s;
        // }
        // &:nth-child(2){
        //     animation: scroll2 40s linear infinite;
        // }
        .item{
            // height: 200px;
            // margin: 0 10px;
            // position: relative;
            flex: 0 0 160px; //n
            margin: 0 10px; //n
            img{
            // height: 100%;
            // display: block; //n
            width: 100%; //n
            }
            h3{
                text-align: center;
                font-size: 16px;
                color: #00000090;
                font-family: 'David Libre', serif;  
                margin-top: 5px;
            }
       }
    }
}
// ------電腦new arrival------
@media screen and (min-width:768px) {
    .new_arrivals{
        margin-top: 200px;
    }
}

/* -----------手機location------------ */
.location{
    position: relative;
    padding-bottom: 13%;
    background: #13334E;
    color: #fff;
    overflow: hidden;
    position: relative;
    opacity: 1;
    .title_box{
        // opacity: 0;
        // transform: scale(0.8);
        // transition: 2.5s;
        width: 100%;
        // border: 1px solid red;
        // text-align: right;
        display: flex;
        justify-content: end;
        .item{
            transform: scale(0.8);
            transition: 1s;
            // border: 1px solid red;
            width: fit-content;
            opacity: 0;

        }
        .item.active{
            opacity: 1;
            transform: scale(1);
            transition: 1s;
        }
        
    }
    
    .bg{
        background-position: center;
        background-size: cover;
        opacity: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: 1s;
    }
    #coffee_shop_bg{
        background-image: url(../image/shop_bg.jpg);
       
    }
    #coffee_school_bg{
        background-image: url(../image/school_bg.jpg);  
    }
    h2{
        margin-bottom: 0px;
        font-size: 40px;
        font-weight: 600;
        text-align: right;
        // padding: 10px 30px 10px 0;
        padding: 30px;
        
    }
    .wrap {
        width: 350px;
        margin: 0 auto;
        height: 560px;
        background: url(../image/map.png) 50% 45%/80% no-repeat;
        position: relative;
    }
    .school,.shop {
        width: 180px;
        height: 180px;
        display: inline-block;
        padding-top: 2%;
        border-radius: 50%;
        border: $main4 solid 2px;
        color: $main2;
        position: absolute;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        transition: 2.5s;
        background-color: $main6;
        opacity: 0;
        transform: scale(0.8);
        &:hover{
            background-color: $main3;
            transform: scale(0.8)!important;
            border: $main3 2px solid;
        }
        h3{
            font-size: 20px;
        }
        h4{
            width: 70%;
            line-height: 120%;
            margin: 0 auto;
            font-size: 12px;
        }
        i{
            font-size: 30px;
        }
    }
    .school.active, .shop.active{
        transform: scale(1);
        opacity: 1;
    }
    .school{
       left: 0%;
       top: 0%;
    }
    .shop{
        right: 0%;
        bottom: 0%;
    }
    .line {
        position: absolute;
        height: 3px;
        background: linear-gradient(to right, #F1D00A 6px, transparent 3px) 0 0/12px 1px;
    }
    
    .line1 {
        top: 290px;
        // right: 0px;
        left: 16px;
        transform: rotate(60deg) translateX(-100%);
        transform-origin: right top;
        width: 135px;
        transition: 2.5s;
        opacity: 0;
        // transform: translateX(100px);
    }
    .line1.active{
        transform: rotate(60deg) translateX(0%);
        opacity: 1;
    }
    .line2 {
        top: 302px;
        right: 50px;
        // left: 534px;
        transform: rotate(56deg) translateX(100%);
        opacity: 0;
        transform-origin: left top;
        width: 135px;
        transition: 2.5s;
    }
    .line2.active{
        transform: rotate(56deg) translateX(0%);
        opacity: 1;
    }
}

// ---280px小手機 location----
@media screen and (max-width:350px) {
    .location {
        .wrap {
            position: relative;
            z-index: 5;
            justify-content: center; 
            width: 250px;
            height: 520px;
            // border: 1px solid aquamarine;
            margin: auto;
            background: url(../image/map.png) 50% 50%/240px no-repeat
            /*                    left距離 / top距離 /高度 */
        }
        .school,.shop {
            width: 160px;
            height: 160px;
            display: inline-block;
            padding-top: 2%;
            border-radius: 50%;
            border: $main4 solid 2px;
            color: $main2;
            position: absolute;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            transition: .5s;
            background-color: $main6;
            &:hover{
                background-color: $main3;
                transform: scale(0.9);
                border: $main3 1px solid;
            }
            h3{
                font-size: 18px;
            }
            h4{
                width: 70%;
                line-height: 120%;
                margin: 0 auto;
                font-size: 12px;
            }
            i{
                font-size: 26px;
            }
        }
        .school{
           left: 0%;
           top: 0%;
        }
        .shop{
            right: 0%;
            bottom: 0%;
        } 
        .line1 {
            top: 290px;
            // right: 0px;
            left: -23px;
            transform: rotate(70deg) translateX(-100%);
            transform-origin: right top;
            width: 135px;
        }
        .line2 {
            top: 295px;
            right: -5px;
            // left: 534px;
            transform: rotate(60deg);
            transform-origin: left top;
            width: 135px
        }
    }
}

// -------ipad直- location----
@media screen and (min-width: 768px) {
    .location {
        .wrap {
            position: relative;
            z-index: 5;
            justify-content: center; 
            width: 800px;
            height: 520px;
            // border: 1px solid aquamarine;
            margin: auto;
            background: url(../image/map.png) 50% 10px/400px no-repeat;
            /*   left距離 / top距離 /高度 */
            .school{
                left: 5%;
            }
            .shop{
                right: 5%;
            }
            .line1 {
                top: 290px;
                // right: 0px;
                left: 130px;
                transform: rotate(45deg) translateX(-70%);
                transform-origin: right top;
                width: 235px;
                opacity: 0;
            }
            .line1.active{
                transform: rotate(45deg) translateX(0%);
                opacity: 1;
            }
            .line2 {
                top: 305px;
                right: 180px;
                transform: rotate(20deg) translateX(70%);
                transform-origin: left top;
                width: 235px;
                opacity: 0;
            }
            .line2.active{
                transform: rotate(20deg) translateX(0%);
                opacity: 1;
            }
        }
        
    }
   
}
// ----筆電 ipad橫 location-----
@media screen and (min-width:1024px) {
    .location {
        h2{
            font-size: 50px;
        }
        .wrap {
            position: relative;
            z-index: 5;
            justify-content: center; 
            width: 1100px;
            height: 520px;
            // border: 1px solid aquamarine;
            margin: auto;
            background: url(../image/map.png) 50% 10px/400px no-repeat;
            /*                    left距離 / top距離 /高度 */
            .school, .shop {
                width: 200px;
                height: 200px;
                h3{
                    font-size: 22px;
                }
                h4{
                    font-size: 12px;
                    width: 60%;
                }
            }
            .school{
                left: 10%;
                opacity: 0;
                transition: 2.5s;
                transform: scale(0.8);
             }
            .school.active{
                opacity: 1;
                transform: scale(1);
            }
            .shop{
                 right: 10%;
                 bottom: 5%;
                 opacity: 0;
                 transition: 2.5s;
                 transform: scale(0.8);
            }
            .shop.active{
                opacity: 1;
                transform: scale(1);
            }
             .line {
                 position: absolute;
                 height: 3px;
                 background: linear-gradient(to right, #F1D00A 6px, transparent 3px) 0 0/12px 1px;
             }
             
             .line1 {
                top: 290px;
                // right: 0px;
                left: 220px;
                transform: rotate(30deg) translateX(-70%);
                opacity: 0;
                transform-origin: right top;
                width: 300px;
                // transition: 2.5s;
                transition: transform 2.5s 0s, opacity 2.5s 1s;
             }
             .line1.active{
                transform: rotate(30deg) translateX(0%);
                opacity: 1;
             }
             .line2 {
                top: 305px;
                right: 210px;
                transform: rotate(15deg) translateX(70%);
                transform-origin: left top;
                width: 355px;
                opacity: 0;
                transition: transform 2.5s 0s, opacity 2.5s 1s;
             }
             .line2.active{
                transform: rotate(15deg) translateX(0%);
                opacity: 1;
             }
        }
        
        
    }
    
}




// -----discount手機-----
section.discount{
    min-height: calc(100vh - 65px);
    padding: 50px 0;
    background-image:url(../image/r6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    // -webkit-background-attachment:scroll;
    position: relative;
   .item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // flex-direction: column;
    // border: 1px red solid;
    justify-content: space-around;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: -100%;
    padding: 50px 10px;
    width: 100%;
    height: 40%;
    background-color: #13334E90;
    transition: 2.5s;
    .text_box{
        width: 100%;
        text-align: center;
        color: $main2;
        // border: 1px solid red;
        h2{
            margin-bottom: 10px;
            font-size: 40px;
            font-family: 'David Libre', serif;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            font-family: 'David Libre', serif;
            line-height: 120%;
            // opacity: .5;
        }
    }
    
    .btn_box{
        width: fit-content;
        // border: 1px solid red;
        // text-align: center;
        // margin: 30px 0;
        margin-top: 30px;
        a{
            display: inline-block;
            color: $main2;
            border-radius: 30px;
            padding: 10px 25px;
            border: 1px solid $main4;
            transition: .5s;
            font-size: 14px;
            &:hover{
                @include btn1_hover();
                border: 1px solid $main3;
            }
        }
    }
   }
   .item.active{
    left: 50%;
    opacity: 1;
}
}

// -----discount小手機-----
@media screen and (max-width:400px) {
    section.discount{
        .item{
            height: 50%;
        }
    }
}
// -----ipad discount-----
 @media screen and (min-width:768px) {
    section.discount{
        .item{
            flex-direction: row;
            .text_box{
                width: 70%;
                h2{
                    font-size: 50px;
                }
                p{
                    font-size: 16px;
                }
            }
            .btn_box{
                width: 30%;
                // border: 1px solid red;
                a{
                    font-size: 18px;
                }
            }
        }
        
    }
 }